/* =============== Navbar =============== */
.navbar li {
    overflow: hidden;
}

.navbar li h2 {
    animation: slidin var(--hover-speed) forwards;
    transform: translateX(100%);
    opacity: 0;
}

.navbar li:nth-child(5) h2 {
    animation-delay: calc(var(--hover-speed)*1*.5);
}

.navbar li:nth-child(4) h2 {
    animation-delay: calc(var(--hover-speed)*2*.5);
}

.navbar li:nth-child(3) h2 {
    animation-delay: calc(var(--hover-speed)*3*.5);
}

.navbar li:nth-child(2) h2 {
    animation-delay: calc(var(--hover-speed)*4*.5);
}

.navbar li:nth-child(1) h2 {
    animation-delay: calc(var(--hover-speed)*5*.5);
}


@keyframes slidin {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* =============== Relief =============== */

.relief {
    transform: perspective(125rem) rotate3d(0, 0, 0, 10deg);
    transform-style: preserve-3d;
    transition: calc(var(--hover-speed)*3);
    position: relative;
}

.relief::before {
    inset: 0;
    content: "";
    background-color: var(--shadow);
    position: absolute;
    border-radius: inherit;
    filter: blur(.5rem);
    transition: inherit;
    transform: translateZ(-1px);
}

/* .tag::before {
    background-color: var(--debug);
} */

.relief p,
.relief h2,
.relief ul,
.relief .preview,
.relief .tags,
.relief .tag,
.relief h3,
.relief .synopsis {
    transform-style: preserve-3d;
    transition: inherit;
    transform: translateZ(1px);
}

.relief .tag {
    transform: translateZ(2px);
}

.relief:not(.tech) h2,
.relief h3 {
    border-radius: var(--radius) var(--radius) 0 0;
    border: .075rem solid var(--white);
}

.relief:hover {
    transform: perspective(125rem) rotate3d(0, 10, -2, 10deg);
}

.relief:hover p,
.relief:hover h2,
.relief:hover ul,
.relief:hover .preview,
.relief:hover .tag,
.relief:hover h3,
.relief:hover .synopsis {
    transform: translateZ(2rem);
    /* text-shadow: -.5rem .25rem .15rem var(--shadow); */
}

.relief:hover::before,
.relief:hover .tag::before {
    transform: translateZ(-4rem);
}

.relief:hover .tag {
    transform: translateZ(6rem);
}

.relief:hover .preview {
    transform: translateZ(4rem);
}

.relief:hover h3 {
    transform: translateZ(8rem);
}